<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
        <meta charset="utf-8">
        <title layout:title-pattern="$CONTENT_TITLE - $DECORATOR_TITLE">蚂蚁爱车</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="">
        <meta name="author" content="">
        <title>蚂蚁养车</title>

        <!-- core CSS -->
        <link href="../../static/css/bootstrap.min.css" rel="stylesheet">
        <link href="../../static/css/font-awesome.min.css" rel="stylesheet">
        <link href="../../static/css/animate.min.css" rel="stylesheet">
        <link href="../../static/css/prettyPhoto.css" rel="stylesheet">
        <link href="../../static/css/main.css" rel="stylesheet">
        <link href="../../static/css/responsive.css" rel="stylesheet">
        <!--[if lt IE 9]>
        <script src="../../static/js/html5shiv.js"></script>
        <script src="../../static/js/respond.min.js"></script>
        <![endif]-->
        <link rel="shortcut icon" href="../../static/images/ico/favicon.ico">
        <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../../static/images/ico/apple-touch-icon-144-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../../static/images/ico/apple-touch-icon-114-precomposed.png">
        <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../../static/images/ico/apple-touch-icon-72-precomposed.png">
        <link rel="apple-touch-icon-precomposed" href="../../static/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->
<body>




<section layout:fragment="content">page main content</section>

<footer id="footer" class="midnight-blue">
    <div class="container">
        <div class="row">
            <div class="col-sm-4">
                &copy; 2016 <a target="_blank" href="#" ></a>翼飞汽车科技有限公司.
            </div>
            <div class="col-sm-8">
                <ul class="pull-right">
                    <li><a href="#">关于蚂蚁爱车</a></li>
                    <li><a href="http://www.miitbeian.gov.cn">ICP认证: 苏ICP备16056041号-1</a></li>
                    <li><a href="#">联系我们</a></li>
                    <li><a href="#">诚聘英才</a></li>
                    <li><a href="#">常见问题</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer><!--/#footer-->

<script src="../../static/js/jquery.js"></script>
<script src="../../static/js/bootstrap.min.js"></script>
<script src="../../static/js/jquery.prettyPhoto.js"></script>
<script src="../../static/js/jquery.isotope.min.js"></script>
<script src="../../static/js/main.js"></script>
<script src="../../static/js/wow.min.js"></script>
</body>
</html>