<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Riven">
    <title>蚂蚁爱车</title>
	
	<!-- core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/animate.min.css" rel="stylesheet">
    <link href="../static/css/prettyPhoto.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js"></script>
    <script src="../static/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../static/images/ico/apple-touch-icon-57-precomposed.png">
    <style type="text/css">
    </style>
</head><!--/head-->

<body class="homepage">

<na class="nav navbar-fixed-top">
    <header id="header">
        <div class="top-bar ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <a class="navbar-brand" href="/"  style="padding: 9px 0 0"><img src="../static/images/logo5.png" alt="logo"></a>

                        <a class="navbar-brand" href="/" style="padding: 8px 0 0"><img src="../static/images/wenzi30.png" alt="logo"></a>

                    </div>
                    <div class="col-sm-4 col-xs-10">
                       <div class="top-number  right" ><p><i class="fa fa-phone-square "></i>  400 633 2558</p></div>
                       <!--<div class="social col-sm-2 col-xs-2 ">-->
                            <!--<ul class="social-share">-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-facebook"></i></a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-twitter"></i></a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-linkedin"></i></a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-dribbble"></i></a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-weibo"></i></a></li>&ndash;&gt;-->
                            <!--</ul>-->
                            <!--&lt;!&ndash;<div class="search">&ndash;&gt;-->
                                <!--&lt;!&ndash;<form role="form">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input type="text" class="search-form" autocomplete="off" placeholder="Search">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="fa fa-search"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;</form>&ndash;&gt;-->
                           <!--&lt;!&ndash;</div>&ndash;&gt;-->
                       <!--</div>-->
                    </div>
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse "  role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="/"><img src="../static/images/logo3.png" alt="logo"></a>-->
                </div>
                <a class="navbar-brand" href="/"><img src="../static/images/wenzi500.png" alt="logo" style="vertical-align: baseline"></a>
                <div id="nav-btn" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a class="active" href="/">首页</a></li>
                        <li class="disabled"><a href="#">新闻资讯</a></li>
                        <li class="disabled"><a href="#">常见问题</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">下载蚂蚁爱车APP <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <img src="../static/images/erweima.png">
                                </li>
                                <!--<li><a href="#">iOS二维码</a></li>-->
                                <!--<li><a href="#">微信公众号二维码</a></li>-->
                            </ul>
                        </li>
                        <li class="disabled"><a href="#">关于招商</a></li>
                        <li class="disabled"><a href="#">关于我们</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header><!--/header-->
</na>
    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <!--<li data-target="#main-slider" data-slide-to="2"></li>-->
            </ol>
            <div class="carousel-inner">

                <div  id="bg1" class="item active" >
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h5 class="animation animated-item-1" >洗车不用水 养车不花钱</h5>
                                    <h6 class="animation animated-item-2" >加入翼飞科技 蚂蚁养车</h6>
                                    <!--<a class="btn-slide animation animated-item-3" href="#">Read More</a>-->
                                </div>
                            </div>

                            <!--<div class="col-sm-6 hidden-xs animation animated-item-4">-->
                                <!--<div class="slider-img">-->
                                    <!--<img src="../static/images/slider/bg1.jpg" class="img-responsive">-->
                                <!--</div>-->
                            <!--</div>-->

                        </div>
                    </div>
                </div><!--/.item-->

                <!--<div id="bg2" class="item">-->
                    <!--<div class="container">-->
                        <!--<div class="row slide-margin">-->
                            <!--<div class="col-sm-6">-->
                                <!--<div class="carousel-content">-->
                                    <!--&lt;!&ndash;<h1 class="animation animated-item-1" >洗车不用水 养车不花钱</h1>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<h2 class="animation animated-item-2" >加入翼飞科技 蚂蚁养车</h2>&ndash;&gt;-->
                                    <!--&lt;!&ndash;<a class="btn-slide animation animated-item-3" href="#">Read More</a>&ndash;&gt;-->
                                <!--</div>-->
                            <!--</div>-->

                            <!--&lt;!&ndash;<div class="col-sm-6 hidden-xs animation animated-item-4">&ndash;&gt;-->
                                <!--&lt;!&ndash;<div class="slider-img">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<img src="../static/images/slider/img2.png" class="img-responsive">&ndash;&gt;-->
                                <!--&lt;!&ndash;</div>&ndash;&gt;-->
                            <!--&lt;!&ndash;</div>&ndash;&gt;-->

                        <!--</div>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;/.item&ndash;&gt;-->

                <div id="bg3" class="item">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <!--<h1 class="animation animated-item-1" >洗车不用水 养车不花钱</h1>-->
                                    <!--<h2 class="animation animated-item-2" >加入翼飞科技 蚂蚁养车</h2>-->
                                    <!--<a class="btn-slide animation animated-item-3" href="#">Read More</a>-->
                                </div>
                            </div>
                            <!--<div class="col-sm-6 hidden-xs animation animated-item-4">-->
                                <!--<div class="slider-img">-->
                                    <!--<img src="../static/images/slider/img3.png" class="img-responsive">-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs"  href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left "></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->


    <!--recent works-->
    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>蚂蚁爱车高端定制</h2>
                <p class="lead">全系列高品质汽车服务 </p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/portfolio/recent/1.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">购买车险</a> </h3>
                                <p>全网超低价,多品牌比价购买就是省</p>
                                <a class="preview" href="../static/images/portfolio/recent/1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 更多</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/portfolio/recent/2.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">查违章</a></h3>
                                <p>查询快速准确,违章情况一目了然</p>
                                <a class="preview" href="../static/images/portfolio/recent/2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 更多</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/portfolio/recent/3.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">保险理赔</a></h3>
                                <p>快速理赔,保险轻松到手</p>
                                <a class="preview" href="../static/images/portfolio/recent/3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 更多</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/portfolio/recent/4.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">购买轮胎</a></h3>
                                <p>低价正品,一线品牌品质放心</p>
                                <a class="preview" href="../static/images/portfolio/recent/4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 更多</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/portfolio/recent/5.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">镀晶</a></h3>
                                <p>漆面必备,让爱车重现光彩</p>
                                <a class="preview" href="../static/images/portfolio/recent/5.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 更多</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/portfolio/recent/6.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">钣喷</a></h3>
                                <p>漆面修复专家,爱车擦碰不用愁</p>
                                <a class="preview" href="../static/images/portfolio/recent/6.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 更多</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/portfolio/recent/7.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">汽车保养</a></h3>
                                <p>优质品牌,深度定制保养方案</p>
                                <a class="preview" href="../static/images/portfolio/recent/7.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 更多</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/portfolio/recent/8.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">贴膜</a></h3>
                                <p>官方正品,专业技师为您操作</p>
                                <a class="preview" href="../static/images/portfolio/recent/8.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->


    <section>
        <div class="container">
            <div class="row">
                <ul id="myTab" class="nav  nav-tabs-justified " style="height: 146px">

                    <li class="tab-icon-1  col-md-3 col-xs-3 "><a  class="active" href="#nowater" data-toggle="tab"></a></li>
                    <li class="tab-icon-2  col-md-3 col-xs-3 "><a  href="#niceservce" data-toggle="tab"></a></li>
                    <li class="tab-icon-3  col-md-3 col-xs-3 "><a  href="#carbeauty" data-toggle="tab"></a></li>
                    <li class="tab-icon-4  col-md-3 col-xs-3 "><a  href="#rebatesystem" data-toggle="tab"></a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="nowater">
                        <img src="../static/images/tabPhoto/1.jpg" style="vertical-align: middle; padding: 10px 0 0 0" width="100%">
                        <img src="../static/images/tabPhoto/2.jpg" style="vertical-align: middle; padding: 2px 0 0 0 " width="100%">
                        <img src="../static/images/tabPhoto/3.jpg" style="vertical-align: middle; padding: 2px 0 0 0" width="100%">
                    </div>
                    <div class="tab-pane fade" id="niceservce">
                        <!--<div class="container">-->
                            <div class="col-md-12" style="margin: 0 auto" >
                            <div class="col-sm-6 col-md-6" style="padding-left: 0;padding-right: 0;padding-top: 10px">
                                <img src="../static/images/tabPhoto/4.jpg"  width="100%">
                            </div>
                            <div class="col-sm-6 col-md-6" style="padding-left: 0;padding-right: 0;padding-top: 10px">
                                <img src="../static/images/tabPhoto/5.jpg"  width="100%">
                            </div>
                            <div class="col-sm-6 col-md-6" style="padding-left: 0;padding-right: 0">
                                <img src="../static/images/tabPhoto/6.jpg"  width="100%">
                            </div>
                            <div class="col-sm-6 col-md-6" style="padding-left: 0;padding-right: 0">
                                <img src="../static/images/tabPhoto/7.jpg"  width="100%">
                            </div>

                            </div>

                        <!--</div>-->
                    </div>
                    <div class="tab-pane fade" id="carbeauty">
                        <div class="col-md-12" style="margin: 0 auto" >
                            <div class="col-sm-6 col-md-6" style="padding-left: 0;padding-right: 0;padding-top: 10px">
                                <img src="../static/images/tabPhoto/11.jpg"  width="100%">
                            </div>
                            <div class="col-sm-6 col-md-6" style="padding-left: 0;padding-right: 0;padding-top: 10px">
                                <img src="../static/images/tabPhoto/12.jpg"  width="100%">
                            </div>
                            <div class="col-sm-6 col-md-6" style="padding-left: 0;padding-right: 0">
                                <img src="../static/images/tabPhoto/13.jpg"  width="100%">
                            </div>
                            <div class="col-sm-6 col-md-6" style="padding-left: 0;padding-right: 0">
                                <img src="../static/images/tabPhoto/14.jpg"  width="100%">
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="rebatesystem">
                        <img src="../static/images/tabPhoto/8.jpg" style="vertical-align: middle; padding: 10px 0 0 0" width="100%">
                        <img src="../static/images/tabPhoto/9.jpg" style="vertical-align: middle; padding: 2px 0 0 0" width="100%">
                        <img src="../static/images/tabPhoto/10.jpg" style="vertical-align: middle; padding: 2px 0 0 0" width="100%">

                    </div>
                </div>
            </div>
        </div>
    </section>

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    &copy; 2016 <a target="_blank" href="#" ></a>翼飞汽车科技有限公司
                </div>
                <div class="col-sm-8">
                    <ul class="pull-right">
                        <li><a href="#">关于蚂蚁爱车</a></li>
                        <li><a href="http://www.miitbeian.gov.cn">ICP认证: 苏ICP备16056041号-1</a></li>
                        <li><a href="#">联系我们</a></li>
                        <li><a href="#">诚聘英才</a></li>
                        <li><a href="#">常见问题</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.prettyPhoto.js"></script>
    <script src="../static/js/jquery.isotope.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/wow.min.js"></script>
</body>
</html>