<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>蚂蚁养车</title>
	
	<!-- core CSS -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">
    <link href="../static/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/css/animate.min.css" rel="stylesheet">
    <link href="../static/css/prettyPhoto.css" rel="stylesheet">
    <link href="../static/css/main.css" rel="stylesheet">
    <link href="../static/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="../static/js/html5shiv.js"></script>
    <script src="../static/js/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="../static/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="../static/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="../static/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="../static/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="../static/images/ico/apple-touch-icon-57-precomposed.png">
    <style type="text/css">

        #myTab > .tab-icon-1  a {
            background: url("../static/images/tabPhoto/car_clean_grey.png") no-repeat;
            /*max-width: 100%;*/
            /*background-size: 100%;*/
            width: 260px;
            height: 130px;
            border: 0;
        }
        /*#myTab > .tab-icon-1  a:focus,*/
        /*#myTab > .tab-icon-1  a:visited,*/
        #myTab > .tab-icon-1  a:hover,
        #myTab > .tab-icon-1  a.active
        {
            /*max-width: 100%;*/
            width: 260px;
            height: 134px;
            border: 0 solid white;
            background: #83ba1e url("../static/images/tabPhoto/car_clean_green.png") no-repeat;
            /*border: 0;*/
        }

        #myTab > .tab-icon-2  a{
            background: url("../static/images/tabPhoto/nice_service_grey.png") no-repeat;
            width: 260px;
            height: 130px;
            border: 0;
        }
        /*.tab-icon  a:focus,*/
        /*#myTab > li a:visited,*/
        #myTab > .tab-icon-2  a:hover,
        #myTab > .tab-icon-2  a.active
        {
            background: #83ba1e url("../static/images/tabPhoto/nice_service_green.png") no-repeat;
            width: 260px;
            height: 134px;
            border: 0;
        }

        #myTab > .tab-icon-3  a{
            background: url("../static/images/tabPhoto/car_beauty_grey.png") no-repeat;
            width: 260px;
            height: 130px;
            border: 0;
        }
        /*.tab-icon  a:focus,*/
        /*#myTab > li a:visited,*/
        #myTab > .tab-icon-3  a:hover,
        #myTab > .tab-icon-3  a.active
        {
            background: #83ba1e url("../static/images/tabPhoto/car_beauty_green.png") no-repeat;
            width: 260px;
            height: 134px;
            border: 0;
        }

        #myTab > .tab-icon-4  a{
            background: url("../static/images/tabPhoto/rebates_system_grey.png") no-repeat;
            width: 260px;
            height: 130px;
            border: 0;
        }
        /*.tab-icon  a:focus,*/
        /*#myTab > li a:visited,*/
        #myTab > .tab-icon-4  a:hover,
        #myTab > .tab-icon-4  a.active
        {
            background: #83ba1e url("../static/images/tabPhoto/rebates_system_green.png") no-repeat;
            width: 260px;
            height: 134px;
            border: 0;
        }
        /*#nav-btn li a:hover{color: black;background-color: white;}*/
    /*#nav-btn li a:visited{color: black;background-color: white;}*/
    /*#nav-btn li a:link{color: black;background-color: white;}*/
    /*#nav-btn li a:active{color: black;background-color: white;}*/
    </style>
</head><!--/head-->

<body class="homepage">

<na class="nav navbar-fixed-top">
    <header id="header">
        <div class="top-bar ">
            <div class="container">
                <div class="row">
                    <div class="col-sm-8">
                        <a class="navbar-brand" href="/"  style="padding: 9px 0 0"><img src="../static/images/logo5.png" alt="logo"></a>

                        <a class="navbar-brand" href="/" style="padding: 8px 0 0"><img src="../static/images/wenzi30.png" alt="logo"></a>

                    </div>
                    <div class="col-sm-4 col-xs-10">
                       <div class="top-number  right" ><p><i class="fa fa-phone-square "></i>  400 633 2558</p></div>
                       <!--<div class="social col-sm-2 col-xs-2 ">-->
                            <!--<ul class="social-share">-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-facebook"></i></a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-twitter"></i></a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-linkedin"></i></a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-dribbble"></i></a></li>&ndash;&gt;-->
                                <!--&lt;!&ndash;<li><a href="#"><i class="fa fa-weibo"></i></a></li>&ndash;&gt;-->
                            <!--</ul>-->
                            <!--&lt;!&ndash;<div class="search">&ndash;&gt;-->
                                <!--&lt;!&ndash;<form role="form">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<input type="text" class="search-form" autocomplete="off" placeholder="Search">&ndash;&gt;-->
                                    <!--&lt;!&ndash;<i class="fa fa-search"></i>&ndash;&gt;-->
                                <!--&lt;!&ndash;</form>&ndash;&gt;-->
                           <!--&lt;!&ndash;</div>&ndash;&gt;-->
                       <!--</div>-->
                    </div>
                </div><!--/.row-->
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse "  role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!--<a class="navbar-brand" href="/"><img src="../static/images/logo3.png" alt="logo"></a>-->
                </div>
                <a class="navbar-brand" href="/"><img src="../static/images/wenzi500.png" alt="logo" style="vertical-align: baseline"></a>
                <div id="nav-btn" class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a class="active" href="/">首页</a></li>
                        <li><a href="#">新闻资讯</a></li>
                        <li><a href="#">常见问题</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">下载蚂蚁爱车APP <i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li>
                                    <img src="../static/images/erweima.png">
                                </li>
                                <!--<li><a href="#">iOS二维码</a></li>-->
                                <!--<li><a href="#">微信公众号二维码</a></li>-->
                            </ul>
                        </li>
                        <li><a href="#">关于招商</a></li>
                        <li><a href="/about">关于我们</a></li>
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->

    </header><!--/header-->
</na>
    <section id="main-slider" class="no-margin">
        <div class="carousel slide">
            <ol class="carousel-indicators">
                <li data-target="#main-slider" data-slide-to="0" class="active"></li>
                <li data-target="#main-slider" data-slide-to="1"></li>
                <li data-target="#main-slider" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">

                <div  id="bg1" class="item active" >
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6"></div>
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <h5 class="animation animated-item-1" >洗车不用水 养车不花钱</h5>
                                    <h6 class="animation animated-item-2" >加入翼飞科技 蚂蚁养车</h6>
                                    <!--<a class="btn-slide animation animated-item-3" href="#">Read More</a>-->
                                </div>
                            </div>

                            <!--<div class="col-sm-6 hidden-xs animation animated-item-4">-->
                                <!--<div class="slider-img">-->
                                    <!--<img src="../static/images/slider/img1.png" class="img-responsive">-->
                                <!--</div>-->
                            <!--</div>-->

                        </div>
                    </div>
                </div><!--/.item-->

                <div id="bg2" class="item">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <!--<h1 class="animation animated-item-1" >洗车不用水 养车不花钱</h1>-->
                                    <!--<h2 class="animation animated-item-2" >加入翼飞科技 蚂蚁养车</h2>-->
                                    <!--<a class="btn-slide animation animated-item-3" href="#">Read More</a>-->
                                </div>
                            </div>

                            <!--<div class="col-sm-6 hidden-xs animation animated-item-4">-->
                                <!--<div class="slider-img">-->
                                    <!--<img src="../static/images/slider/img2.png" class="img-responsive">-->
                                <!--</div>-->
                            <!--</div>-->

                        </div>
                    </div>
                </div><!--/.item-->

                <div id="bg3" class="item">
                    <div class="container">
                        <div class="row slide-margin">
                            <div class="col-sm-6">
                                <div class="carousel-content">
                                    <!--<h1 class="animation animated-item-1" >洗车不用水 养车不花钱</h1>-->
                                    <!--<h2 class="animation animated-item-2" >加入翼飞科技 蚂蚁养车</h2>-->
                                    <!--<a class="btn-slide animation animated-item-3" href="#">Read More</a>-->
                                </div>
                            </div>
                            <!--<div class="col-sm-6 hidden-xs animation animated-item-4">-->
                                <!--<div class="slider-img">-->
                                    <!--<img src="../static/images/slider/img3.png" class="img-responsive">-->
                                <!--</div>-->
                            <!--</div>-->
                        </div>
                    </div>
                </div><!--/.item-->
            </div><!--/.carousel-inner-->
        </div><!--/.carousel-->
        <a class="prev hidden-xs"  href="#main-slider" data-slide="prev">
            <i class="fa fa-chevron-left "></i>
        </a>
        <a class="next hidden-xs" href="#main-slider" data-slide="next">
            <i class="fa fa-chevron-right"></i>
        </a>
    </section><!--/#main-slider-->


    <!--recent works-->
    <section id="recent-works">
        <div class="container">
            <div class="center wow fadeInDown">
                <h2>蚂蚁爱车高端定制</h2>
                <p class="lead">全系列高品质汽车服务 </p>
            </div>

            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/portfolio/recent/1.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">洗车</a> </h3>
                                <p>VIP用户享5-7折洗车让您的爱车焕然一新</p>
                                <a class="preview" href="../static/images/portfolio/recent/1.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 更多</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/portfolio/recent/2.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">美容</a></h3>
                                <p>VIP用户享8折全车镀晶全面提高爱车颜值</p>
                                <a class="preview" href="../static/images/portfolio/recent/2.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 更多</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/portfolio/recent/3.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">保养</a></h3>
                                <p>VIP用户享9折爱德龙小保养低价正品保障</p>
                                <a class="preview" href="../static/images/portfolio/recent/3.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 更多</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/portfolio/recent/4.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">加油卡充值</a></h3>
                                <p>VIP用户享98折加油卡充值支持全国中石化、中石油</p>
                                <a class="preview" href="../static/images/portfolio/recent/4.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 更多</a>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/portfolio/recent/5.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">买车险</a></h3>
                                <p>全网低价，在线比价下单比4S店至少便宜18%</p>
                                <a class="preview" href="../static/images/portfolio/recent/5.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 更多</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/portfolio/recent/6.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">违章代缴</a></h3>
                                <p>能查又能缴支持全国300多城市</p>
                                <a class="preview" href="../static/images/portfolio/recent/6.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 更多</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/portfolio/recent/7.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">养护</a></h3>
                                <p>空调清洗、更换防冻液全面呵护您的爱车</p>
                                <a class="preview" href="../static/images/portfolio/recent/7.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 更多</a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-md-3">
                    <div class="recent-work-wrap">
                        <img class="img-responsive" src="../static/images/portfolio/recent/8.jpg" alt="">
                        <div class="overlay">
                            <div class="recent-work-inner">
                                <h3><a href="#">油漆</a></h3>
                                <p>钣金喷漆服务爱车刮痕不烦恼</p>
                                <a class="preview" href="../static/images/portfolio/recent/8.jpg" rel="prettyPhoto"><i class="fa fa-eye"></i> 更多</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--/.row-->
        </div><!--/.container-->
    </section><!--/#recent-works-->


    <section>
        <div class="container">
            <div class="row">
                <ul id="myTab" class="nav  nav-tabs-justified">
                    <li class="tab-icon-1 col-lg-3 col-md-3 col-xs-6 col-sm-6" ><a  class="active" href="#nowater" data-toggle="tab" ></a></li>
                    <li class="tab-icon-2 col-lg-3 col-md-3 col-xs-6 col-sm-6"><a  href="#niceservce" data-toggle="tab"></a></li>
                    <li class="tab-icon-3 col-lg-3 col-md-3 col-xs-6 col-sm-6"><a  href="#carbeauty" data-toggle="tab"></a></li>
                    <li class="tab-icon-4 col-lg-3 col-md-3 col-xs-6 col-sm-6"><a  href="#rebatesystem" data-toggle="tab"></a></li>
                </ul>
                <div id="myTabContent" class="tab-content">
                    <div class="tab-pane fade in active" id="nowater">
                        <img src="../static/images/tabPhoto/1.jpg" style="vertical-align: middle; padding: 10px 0 0 0" width="100%">
                        <img src="../static/images/tabPhoto/2.jpg" style="vertical-align: middle; padding: 2px 0 0 0 " width="100%">
                        <img src="../static/images/tabPhoto/3.jpg" style="vertical-align: middle; padding: 2px 0 0 0" width="100%">
                    </div>
                    <div class="tab-pane fade" id="niceservce">
                        <!--<div class="container">-->
                            <div style="width: 1000px;height:100%;margin: 0 auto" >
                            <div class="col-md-6" style="padding-left: 0;padding-right: 0;padding-top: 10px">
                                <img src="../static/images/tabPhoto/4.jpg"  width="500px">
                            </div>
                            <div class="col-md-6" style="padding-left: 0;padding-right: 0;padding-top: 10px">
                                <img src="../static/images/tabPhoto/5.jpg"  width="500px">
                            </div>
                            <div class="col-md-6" style="padding-left: 0;padding-right: 0">
                                <img src="../static/images/tabPhoto/6.jpg"  width="500px">
                            </div>
                            <div class="col-md-6" style="padding-left: 0;padding-right: 0">
                                <img src="../static/images/tabPhoto/7.jpg"  width="500px">
                            </div>

                            </div>

                        <!--</div>-->
                    </div>
                    <div class="tab-pane fade" id="carbeauty">
                        <img src="../static/images/appinfo2.png" style="vertical-align: middle; padding: 5px 0 0 0" width="100%">
                    </div>
                    <div class="tab-pane fade" id="rebatesystem">
                        <img src="../static/images/tabPhoto/8.jpg" style="vertical-align: middle; padding: 10px 0 0 0" width="100%">
                        <img src="../static/images/tabPhoto/9.jpg" style="vertical-align: middle; padding: 2px 0 0 0" width="100%">
                        <img src="../static/images/tabPhoto/10.jpg" style="vertical-align: middle; padding: 2px 0 0 0" width="100%">

                    </div>
                </div>
            </div>
        </div>
    </section>

<!--<section id="portfolio">-->
    <!--<div class="container">-->
        <!--<div class="center">-->
            <!--<h2>Portfolio</h2>-->
            <!--<p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut <br> et dolore magna aliqua. Ut enim ad minim veniam</p>-->
        <!--</div>-->


        <!--<ul class="portfolio-filter text-center">-->
            <!--<li><a class="btn btn-default active" href="#" data-filter="*">All Works</a></li>-->
            <!--<li><a class="btn btn-default" href="#" data-filter=".bootstrap">Creative</a></li>-->
            <!--<li><a class="btn btn-default" href="#" data-filter=".html">Photography</a></li>-->
            <!--<li><a class="btn btn-default" href="#" data-filter=".wordpress">Web Development</a></li>-->
        <!--</ul>&lt;!&ndash;/#portfolio-filter&ndash;&gt;-->

        <!--<div class="row">-->
            <!--<div class="portfolio-items">-->
                <!--<div class="portfolio-item apps col-xs-12 col-sm-4 col-md-3">-->
                    <!--<div class="recent-work-wrap">-->
                        <!--<img class="img-responsive" src="images/portfolio/recent/item1.png" alt="">-->
                        <!--<div class="overlay">-->
                            <!--<div class="recent-work-inner">-->
                                <!--<h3><a href="#">Business theme</a></h3>-->
                                <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>-->
                                <!--<a class="preview" href="images/portfolio/full/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;/.portfolio-item&ndash;&gt;-->

                <!--<div class="portfolio-item joomla bootstrap col-xs-12 col-sm-4 col-md-3">-->
                    <!--<div class="recent-work-wrap">-->
                        <!--<img class="img-responsive" src="images/portfolio/recent/item2.png" alt="">-->
                        <!--<div class="overlay">-->
                            <!--<div class="recent-work-inner">-->
                                <!--<h3><a href="#">Business theme</a></h3>-->
                                <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>-->
                                <!--<a class="preview" href="images/portfolio/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;/.portfolio-item&ndash;&gt;-->

                <!--<div class="portfolio-item bootstrap wordpress col-xs-12 col-sm-4 col-md-3">-->
                    <!--<div class="recent-work-wrap">-->
                        <!--<img class="img-responsive" src="images/portfolio/recent/item3.png" alt="">-->
                        <!--<div class="overlay">-->
                            <!--<div class="recent-work-inner">-->
                                <!--<h3><a href="#">Business theme</a></h3>-->
                                <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>-->
                                <!--<a class="preview" href="images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;/.portfolio-item&ndash;&gt;-->

                <!--<div class="portfolio-item joomla wordpress apps col-xs-12 col-sm-4 col-md-3">-->
                    <!--<div class="recent-work-wrap">-->
                        <!--<img class="img-responsive" src="images/portfolio/recent/item4.png" alt="">-->
                        <!--<div class="overlay">-->
                            <!--<div class="recent-work-inner">-->
                                <!--<h3><a href="#">Business theme</a></h3>-->
                                <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>-->
                                <!--<a class="preview" href="images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;/.portfolio-item&ndash;&gt;-->

                <!--<div class="portfolio-item joomla html bootstrap col-xs-12 col-sm-4 col-md-3">-->
                    <!--<div class="recent-work-wrap">-->
                        <!--<img class="img-responsive" src="images/portfolio/recent/item5.png" alt="">-->
                        <!--<div class="overlay">-->
                            <!--<div class="recent-work-inner">-->
                                <!--<h3><a href="#">Business theme</a></h3>-->
                                <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>-->
                                <!--<a class="preview" href="images/portfolio/full/item5.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;/.portfolio-item&ndash;&gt;-->

                <!--<div class="portfolio-item wordpress html apps col-xs-12 col-sm-4 col-md-3">-->
                    <!--<div class="recent-work-wrap">-->
                        <!--<img class="img-responsive" src="images/portfolio/recent/item6.png" alt="">-->
                        <!--<div class="overlay">-->
                            <!--<div class="recent-work-inner">-->
                                <!--<h3><a href="#">Business theme</a></h3>-->
                                <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>-->
                                <!--<a class="preview" href="images/portfolio/full/item6.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;/.portfolio-item&ndash;&gt;-->

                <!--<div class="portfolio-item wordpress html col-xs-12 col-sm-4 col-md-3">-->
                    <!--<div class="recent-work-wrap">-->
                        <!--<img class="img-responsive" src="images/portfolio/recent/item7.png" alt="">-->
                        <!--<div class="overlay">-->
                            <!--<div class="recent-work-inner">-->
                                <!--<h3><a href="#">Business theme</a></h3>-->
                                <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>-->
                                <!--<a class="preview" href="images/portfolio/full/item7.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;/.portfolio-item&ndash;&gt;-->

                <!--<div class="portfolio-item wordpress html bootstrap col-xs-12 col-sm-4 col-md-3">-->
                    <!--<div class="recent-work-wrap">-->
                        <!--<img class="img-responsive" src="images/portfolio/recent/item8.png" alt="">-->
                        <!--<div class="overlay">-->
                            <!--<div class="recent-work-inner">-->
                                <!--<h3><a href="#">Business theme</a></h3>-->
                                <!--<p>There are many variations of passages of Lorem Ipsum available, but the majority</p>-->
                                <!--<a class="preview" href="images/portfolio/full/item8.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>&lt;!&ndash;/.portfolio-item&ndash;&gt;-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</section>&lt;!&ndash;/#portfolio-item&ndash;&gt;-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-4">
                    &copy; 2016 <a target="_blank" href="#" ></a>翼飞汽车科技有限公司
                </div>
                <div class="col-sm-8">
                    <ul class="pull-right">
                        <li><a href="#">关于蚂蚁爱车</a></li>
                        <li><span href="#">ICP认证: 苏ICP备16056041号-1</span></li>
                        <li><a href="#">联系我们</a></li>
                        <li><a href="#">诚聘英才</a></li>
                        <li><a href="#">常见问题</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/jquery.prettyPhoto.js"></script>
    <script src="../static/js/jquery.isotope.min.js"></script>
    <script src="../static/js/main.js"></script>
    <script src="../static/js/wow.min.js"></script>
</body>
</html>